/* HEADER SECTION STYLES HERE */

h2 {
  font-family: "Bookman-Old";
  font-weight: 700;
  font-size: 4.2rem;
  color: #173141;
}
p {
  font-family: "Bookman-Old";
  font-weight: 400;
  font-size: 1.9rem;
  color: #173141;
}
a {
  text-decoration: none;
}
.header-section {
  background: url(../images/header-bg.jpg) repeat-x center top;
  background-size: cover;
}
.header-section a.nav-link {
  padding-right: 0;
  padding-top: 1rem;
}
.header-section img.img-fluid.icon {
  border-radius: 0.4rem;
}
.header-section .logo-img {
  width: auto;
  margin: auto;
  margin-bottom: 1.4rem;
}
/* NAVIGATION STYLES HERE */
#navigation {
  font-size: 1.9rem;
  font-weight: 400;
  background: #173141;
  text-align: center;
  text-transform: uppercase;
  display: flex;
}
#navigation button {
  border: 0.1rem solid #ffffff;
  margin-left: 2rem;
}
#navigation button span i {
  margin-top: 0.4rem;
  color: #ffffff;
  font-size: 1.5rem;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  width: 92%;
  justify-content: space-evenly;
}
.nav-section li {
  margin: 0;
}
.nav-section li:first-child {
  margin-left: 0;
}
.nav-section li:last-child {
  margin-right: 0;
}
.nav-section a.nav-link {
  font-family: "Bookman-Old";
  color: #ffffff;
}
.nav-section a.nav-link:hover {
  color: #b62739;
}
/* BANNER STYLES HERE */
.banner-section {
  padding: 0;
}

/* PRODUCTS STYLES HERE */
.products-section {
  background: url(../images/product-body-bg.jpg) repeat-y center center;
  background-size: cover;
  position: relative;
}
.products-section::after {
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 1));
  opacity: 0.7;
}
.product-items {
  width: 100%;
}
.product-items img {
  border-radius: 1rem;
  -moz-box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgb(190, 190, 190);
  -webkit-box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgb(190, 190, 190);
  box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgb(190, 190, 190);
}
.products-section h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  color: #173141;
}
.products-section h3 a {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #173141;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.products-section h3:hover a {
  color: #b62739;
}
.products-section p {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
  color: #173141;
}
/*================== 
ABOUTPAGE SECTION CONTENT 
====================*/
.about-banner {
  background: url(../images/about-me.png) no-repeat center top;
  background-size: cover;
  height: 80rem;
}
.about-content {
  background: url(../images/product-body-bg.jpg) repeat-y center top;
  background-size: cover;
  position: relative;
}
.about-content::after {
  background-color: #ffffff;
  opacity: 0.7;
}
.about-content .about-bio p {
  font-size: 1.9rem;
  font-weight: 400;
  padding-right: 2rem;
  line-height: 3.3rem;
}
aside img {
  margin-bottom: 3rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgb(190, 190, 190);
  -moz-box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgb(190, 190, 190);
  box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgb(190, 190, 190);
}
/*================== 
HOMEPAGE SECTION CONTENT 
====================*/
.home-message {
  background: #173141;
}
.home-message p {
  font-size: 1.9rem;
  font-weight: 400;
  color: #ffffff;
  padding: 1.2rem 0;
  text-align: center;
}
.home-section {
  background: url(../images/about-body-bg.jpg) repeat-x center center;
  background-size: cover;
  padding-top: 1.8rem;
  padding-bottom: 0;
}
.home-section img {
  border-radius: 0.5rem;
}
.home-section h3 {
  font-size: 3.2rem;
  padding: 1.2rem 0;
  text-align: center;
}
.home-section h3 a {
  text-decoration: none;
  color: #173141;
  font-family: "Bookman-Old";
  font-weight: 700;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.img-hover-zoom {
  background: #222f3e;
  height: 30rem;
  overflow: hidden;
  border-radius: 0.5em;
  border: 0.5rem solid rgba(255, 255, 255, 0.884);
}
.img-hover-zoom img {
  width: 100%;
  height: 30rem;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.home-section .hover-box:hover img {
  /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)); */
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.home-section .hover-box:hover a {
  color: #b62739;
}

/* FOOTER STYLES HERE */
.footer-section {
  background: url(../images/footer-bg.png) repeat-y center center;
  color: #ffffff;
  text-align: center;
  padding: 3rem 0;
}
.footer-section p {
  font-size: 1.9rem;
  font-weight: 400;
  color: #ffffff;
}
.footer-logo {
  width: 100%;
  display: block;
}
.footer-logo img {
  width: auto;
}
